body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.form-container {
  width: 48%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 10px;

}

.form-group label {
  display: block;
}

.form-group input {
  width: 90%;
  padding: 5px;
}

.form-group select {
  width: 90%;
  padding: 5px;
}

.box-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 10px;
}

.box-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}

@media (max-width: 600px) {
    .box-container {
    grid-template-columns: 1fr;
    }
}
